<div class="postContainer">
	<h5>{{dataValues.title}}</h5>
    <p>${{dataValues.money}} for {{dataValues.date}} </p>
    <p>In search of {{dataValues.instrument}}</p>
    <a href="#" data-id={{id}} >more</a>
</div>
