<div id="formContainer">
    <h3>Edit Profile</h3>
    <div id="formArea">
        <form action="/profile">
        <label for="Name">Name:</label>
            <input type="text" value = {{data.name}} name="fname"><br>
        <img id="profilePic"src={{user.image}} alt="profilePic">
        <label for="proImage">Profile Image:</label><br>
            <input id="fileInput"  type="file"
       accept="image/png, image/jpeg">
       <input id= "linkName" name = "image" type="text">
       <input id= "UserId" name = "UserId" type="text">
       <br>
        {{!-- <label for="type">Are you a:</label>
            <p>
            <label>
                <input name="typeM" type="checkbox" value="Musician" />
                <span>Musician</span>
            </label>   
            <p>
            <label>
                <input name="typeV" type="checkbox" value="Venue" />
                <span>Venue/Host</span>
            </label>
            </p>
            <p></p>
            <label>
                <input name="typeB" type="checkbox" value="Both" />
                <span>Musician and Vendor/Host</span>
            </label>     
            </p> --}}
        <label for="briefBio">Bio:</label>
           <input type="text" value = {{data.bio}} ><br>

        <label for="YouTubeLinks">YouTube Link:</label>
           <input type="text" value = {{data.YouTubeLinks}} name="YouTubeLinks"><br>
        
        <label for="location">Location:</label>
            <input type="text" value = {{data.location}} name="location"><br>
        <label for="start">Instrument:</label>
            <p>
            <label>
                <input name="instrument" type="checkbox" value="guitar" />
                <span>Guitar</span>
            </label>
            <label>
                <input name="instrument" type="checkbox" value="Bass"  />
                <span>Bass</span>
            </label>
            <label>
                <input name="instrument" type="checkbox" value="Keys" />
                <span>Keys</span>
            </label>
            <label>
                <input name="instrument" type="checkbox" value="Drums"  />
                <span>Drums</span>
            </label>
            <label>
                <input name="instrument" type="checkbox" value="Vocals"  />
                <span>Vocals</span>
            </label>
            <label>
                <input name="instrument" type="checkbox" value="Other"  />
                <span>Other</span>
            </label>
        </p>
        <input  id="editProfile" type="submit" value="Submit">

        </form>
    </div>
</div>
<script src="/js/editprofile.js"></script>
<script>
    fetch("/api/editprofile").then(()=> console.log('editprofile is loaded'))

    document.addEventListener('DOMContentLoaded', function() {
        var elems3 = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems3);
    });
</script>